header{
    /* Header */
position: absolute;
width: 1920px;
height: 92px;
left: 0;
top: 0;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 220px 16px 220px;
background: rgb(4, 56, 115);
}
.logo{
    img{
        position: absolute;
        width: 37px;
        height: 26.46px;
        left: 160px;
        top: 42.55px;
    }
    p{
        /* whitepace */
        position: absolute;
        width: 144px;
        height: 34px;
        left: 207px;
        top: 10px;
    }
    p{
        color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0%;
text-align: left;
    }
}
.Nav-menu{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    position: relative;
    left: -990px;
    justify-items: center;
    top: 30px;
    .Products{
        /* Products */
position: static;
width: 78px;
height: 23px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

color: rgb(255, 255, 255);
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
    }
    .Solutions{
        /* Solutios */
position: static;
width: 118px;
height: 24px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 32px;
color: rgb(255, 255, 255);
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: left;   
    }
    .Resources{
        /* Resources */
/* Pricing */
position: static;
width: 97px;
height: 24px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 0px;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

color: rgb(255, 255, 255);
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
    }
    .Pricing{
        /* Pricing */
position: static;
width: 97px;
height: 24px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 0px 32px;

color: rgb(255, 255, 255);
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
    }
}
.Solutions{
    img{
        left: 140px;
        position: relative;
    }
}
//.Pricing{
//    img{
//        position: relative;
//        left: 133px;
//    }
//}
.btm{
    position: relative;
    width: 377px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 0px 50px 0px; */
    top: -30px;
    left: 50px;
    z-index: 2;
    .Login{
        /* Login */
position: static;
width: 46px;
height: 23px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 16px 40px 16px 40px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

/* Paragraph/P2/Medium */
color: rgb(4, 56, 115);
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 23px;
letter-spacing: -2%;
text-align: left;

border-radius: 8px;
background: rgb(255, 228, 146);

/* Btn-login */
position: static;
width: 126px;
height: 60px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 16px 40px 16px 40px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
    }
    img{
        left: 250px;
        position: relative;
        top: -54px;
        transform: rotate(-90deg);
    }
}
.TryWhitepacefree{
    /* Btn-free-trial */
position: static;
width: 227px;
height: 60px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 16px 24px 16px 24px;
    background: rgb(79, 156, 249);

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;

border-radius: 8px;
}